.main{
    margin: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
}

.nav{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
}

.filtros {
    padding: 2rem;
}

.home {
    margin-bottom: 30px;
}

.home h2 {
    margin-top: 20px;
}

.home button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 4px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    margin-top: 10px;
}

.home button:hover {
    transform: translateY(-0px);
    box-shadow: 0px 2px 4px blue;
    cursor: pointer;
}

span {
    margin: 2rem;
}

@media (max-width: 560px) {
    .main{
        grid-template-columns: 100%;
    }
    .filtros {
        grid-template-columns: auto;
    }
}
